<section class="details">
  <div class="wrap">
    <h1>This post's amazing title</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ipsam
      doloribus laborum debitis non iure molestiae, id sunt sint suscipit amet
      quae nisi. Corporis perferendis, officia alias provident aliquid ab!
    </p>
    <img
      src="https://www.fcbarcelona.com/photo-resources/2020/04/28/16057e5d-0aa3-4e8e-be2d-a903dbe4e686/RIVALDO.png?width=600&height=820"
      alt=""
    />
    <div class="buttons">
      <button id="like">Like</button>
      <button id="edit">Edit</button>
      <button id="delete">Delete</button>
    </div>
  </div>
</section>
