<div class="posts-wrap">
    <div class="intro">
        <h2>Recent posts</h2>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="post">
        <h3>Post 1</h3>
        <div class="post-info">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
            <p style="font-style: italic;">6 hours ago</p>
            <a href="#" id="details">Details</a>
        </div>
    </div>
    <div class="posts-none">
        <h3>No posts yet</h3>
        <p>Be the first to post!</p>
    </div>
</div>