<form action="">
    <h3>Edit Post</h3>

    <div class="group-a">
            <input type="text" class="form-control" id="keyword" aria-describedby="keywordHelp" placeholder="Keyword">
            <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Title">
    </div>
    <div class="image-form">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" placeholder="Image">
    </div>
    <div class="description-form">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="5"></textarea>
    </div>
    <div class="button-submit">
        <button type="submit" class="btn btn-primary">Create Post</button>
    </div>
</form>