<div class="post-wrap">
  <div class="post">
    <h3>Post title</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      quaerat accusamus mollitia veniam provident illum ut vitae consectetur
      magnam voluptatum quibusdam, laborum esse deleniti maiores! Magnam
      reprehenderit praesentium dolores sit.
    </p>
    <img src="https://a4-images.myspacecdn.com/images01/89/3bbb13d2cf9c1975d0936d6de4bd6087/full.jpg" alt="">
  </div>
  <div class="stats">
      <div class="likes-num">
            <p>734636 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
      </div>
      <div class="comments-num">
            <p>46342 <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
      </div>
        <div class="date-num">
            <p style="font-style: italic;">Published 6 hours ago</p>
        </div>
  </div>
  <div class="add-comment">
    <h3>Add Comment</h3>
    <textarea id="form-control" cols="30" rows="10" placeholder="add a comment"></textarea>
  </div>
  <div class="comments">
    <h3>Comments</h3>
      <div class="comment">
        <div class="comment-header">
          <div class="comment-user">
            <img src="https://cdn.britannica.com/58/129958-050-C3FE2DD2/Adolf-Hitler-1933.jpg">
            <p>User name</p>
          </div>
          <div class="info">
            <div class="comment-date">
                <p>Published 6 hours ago</p>
              </div>
              <div class="comment-likes">
                <p>307 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
              </div>
          </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium quaerat accusamus mollitia veniam provident illum ut
          vitae consectetur magnam voluptatum quibusdam, laborum esse deleniti
          maiores! Magnam reprehenderit praesentium dolores sit.
        </p>
      </div>
      <div class="comment">
        <div class="comment-header">
          <div class="comment-user">
            <img src="https://cdn.britannica.com/58/129958-050-C3FE2DD2/Adolf-Hitler-1933.jpg">
            <p>User name</p>
          </div>
          <div class="info">
            <div class="comment-date">
                <p>Published 6 hours ago</p>
              </div>
              <div class="comment-likes">
                <p>307 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
              </div>
          </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium quaerat accusamus mollitia veniam provident illum ut
          vitae consectetur magnam voluptatum quibusdam, laborum esse deleniti
          maiores! Magnam reprehenderit praesentium dolores sit.
        </p>
      </div>
      <div class="comment">
        <div class="comment-header">
          <div class="comment-user">
            <img src="https://cdn.britannica.com/58/129958-050-C3FE2DD2/Adolf-Hitler-1933.jpg">
            <p>User name</p>
          </div>
          <div class="info">
            <div class="comment-date">
                <p>Published 6 hours ago</p>
              </div>
              <div class="comment-likes">
                <p>307 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
              </div>
          </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium quaerat accusamus mollitia veniam provident illum ut
          vitae consectetur magnam voluptatum quibusdam, laborum esse deleniti
          maiores! Magnam reprehenderit praesentium dolores sit.
        </p>
      </div>
      <div class="no-comments">
        <p>No comments yet!</p>
      </div>
  </div>
</div>
