<div class="profile-wrap">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Hitler_portrait_crop.jpg" alt="">
    <div class="profile-info">
        <h3>Kancler Kancleroski</h3>
    <p>Andi mari Makedonija </p>
    </div>
    <div class="posts-wrap">
        <div class="post">
            <h3>Post 1</h3>
            <div class="post-info">
                <p>73 likes</p>
                <p>2 comments</p>
            </div>
        </div>
        <div class="post">
            <h3>Post 1</h3>
            <div class="post-info">
                <p>73 likes</p>
                <p>2 comments</p>
            </div>
        </div>
        <div class="post">
            <h3>Post 1</h3>
            <div class="post-info">
                <p>73 likes</p>
                <p>2 comments</p>
            </div>
        </div>
    </div>
</div>