<div class="profile-wrap">
    <img src={{user!.avatar}} alt="porno">
    <div class="profile-info">
        <h3>{{user!.username}}</h3>
        <p>{{user!.description!}}</p>
    </div>
    <div *ngIf="posts">
        <div *ngFor="let post of posts" class="posts-wrap">
            <div class="post">
                <h3>{{post.title}}</h3>
                <div class="post-info">
                    <p>{{post.likes}} <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
                    <p>{{post.comments}} <img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!posts" class="posts-none">
        <h3>No posts yet</h3>
    </div>
    
</div>