<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Log In</h3>

    <div class="form-email">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-password">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="button-submit">
        <button type="submit" class="btn btn-primary">Log In!</button>
    </div>
</form>