<section class="login">
    <form action="">
        <h1>Login</h1>
        <div class="data">
            <div class="email-group">
                <label for="email">Email</label>
                <input type="text" placeholder="Type your email...">
            </div>
            <div class="password-group">
                <label for="password">Password</label>
                <input type="password" id="pass" placeholder="Enter your password...">
            </div>
        </div>
        <button>Log in!</button>
    </form>
</section>