form{
    display: flex;
    position: relative;
    left: 80px;
    top: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20%;
    border: 3px solid #128d22;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: visible;
}

h3{
    background-color: #128d22;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
    margin-top: -1px;
    border-radius: 7px 7px 0px 0px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: bolder;
    font-size: 30px;
}
label{
    display: block;
    position: relative;
    left: -50px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: bolder;
    font-size: 20px;
    background-color: #128d22;
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin: 15px;
}
/*label[for="password"]{
    left: -60px;
}
input[type="password"]{
    position: relative;
    left: -40px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #128d22;
}*/
input{
    display: block;
    position: relative;
    left: -30px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #128d22;
}
input:focus {
    border: 3px solid #555;
  }

  button{
    background-color: #128d22;
    border: none;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    margin: 14px 12px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
  }
  .me {
    position: absolute;
    background-color: rgb(250, 103, 103);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    border: 3px solid red;
  }