header{
    display: block;
    /*padding: 20px;*/
    width: 100%;
    margin: -10px;
    padding-top: 1px;
    background-color: #128c22;
    padding-bottom: 10px;
    padding-right: 20px;
}
h1{
  color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: relative;
    bottom: 50px;
    margin: -10px;
    padding-top: 0px;
    background-color: #128d22;
}

ul { 
    list-style-type: none;
  }
  
li {
    float: right
  }
  
  li a {
    float: left;
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

a{
  font-family: Arial, Helvetica, sans-serif;
}