footer{
    display: flex;
    background-color: green;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 23px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 0;
}
#special{
    font-size: 44px;
}