footer {
    bottom: 0;
    color: #707070;
    height: 50px;
    left: 0;
    position: fixed;
    font-size: small;
    width:100%;
    text-align: center;
    background-color: #128d22;
}
h3{
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}