<section class="all-posts">
    <div class="post">
        <h2>A random post post post</h2>
        <div class="stats">
            <div class="likes">
                <p class="like num">30</p>
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="comments">
                <p class="comments num">6</p>
                <i class="fa-solid fa-comment"></i>
            </div>
        </div>
        <a href="/">Details</a>
    </div>

    <div class="post">
        <h2>A random post post p...</h2>
        <div class="stats">
            <div class="likes">
                <p class="like num">30</p>
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="comments">
                <p class="comments num">6</p>
                <i class="fa-solid fa-comment"></i>
            </div>
        </div>
        <a href="/">Details</a>
    </div>

    <div class="post">
        <h2>A random post post post</h2>
        <div class="stats">
            <div class="likes">
                <p class="like num">30</p>
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="comments">
                <p class="comments num">6</p>
                <i class="fa-solid fa-comment"></i>
            </div>
        </div>
        <a href="/">Details</a>
    </div>
</section>
