/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html, body{
    padding: 0;
    margin: 0;
    
}
*{
    font-family: 'PT Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}